body{ 
    text-align: center;
    color: white;
    background-color: black;
}

div#statistiques{
    text-align: center;

}

#pokeball_retour{
    height: 100px;
    width: auto;
    position: absolute;
    top: 20px; left: 25px;
    
}

h3#bouton_retour{
    position: absolute;
    top: 120px; left: 20px;


}

div#resistances{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;


}

div#tri_par_type{
    height: 70px;
    width: auto;
    


}

