body{ 
    text-align: center;
    color: white;
    background-color: black;
}

div#statistiques{
    text-align: center;

}

div#version_shiny{
    text-align: left;

}

#pokemon-image-shiny{
    height: 300px;
    width: auto;


}

#evolutionConteneur{
    height: 250px;
    width: auto;


}