body{ 
    text-align: center;
    color: white;
    background-color: black;
}

div#statistiques{
    text-align: center;

}

#pokeball_retour{
    height: auto;
    width: 6%;
    position: fixed;
    margin: 0.521vh;
    top: 0;
    left: 0;
    
}

h3#bouton_retour{
    font-size: 2vh;
    position: fixed;
    margin-top: 12vh;
    margin-left: 0.521px;
    top: 0;
    left: 0;
}

div#resistances{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}

div#tri_par_type{
    height: 70px;
    width: auto;
    


}

div#megaevolution{
    display: flex;
    align-items: center;
    justify-content: center;

}
h1{
    font-size: 2.5vw;

}
h2{
    font-size: 2vw;

}
h3{
    font-size: 1.5vw;

}
p{
    font-size: 0.9vw;
}