body{ 
    text-align: center;
    background-color: indigo;
}

div#conteneur_6_pokemon{
    width:  auto;
    height: 250px;
    margin: 1px;



}





img
{
   width:auto;
   height:85%;
}
img:hover
{
   width:auto;
   height:95%;
}
